aws_region=us-east-1
vpc_id=vpc-xxxx
eks_private_subnets=["subnet-xxxx","subnet-yyyy"]
cluster_name=mycluster
environment=dev
allowed_cidr_blocks=10.0.0.0/16
allowed_external_cidr=10.0.0.0/16
eks_worker_desired_capacity=3
eks_worker_max_size=3
eks_worker_min_size=2
instance_type=t2.large
key_name=mycluster-dev-key
ebs_optimized=true
ebs_volume_size=80
public_ip=false
elb_is_internal=true
ingress_http_port=30080
ingress_https_port=30443
ingress_domain_name=apps.mycluster.com
external_sg=sg-xxxxx
eks_ingress_controller_cert=xxxx